<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a38269">  <td>22/01/10 10:08:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTF.loginWithPasswordIncorrect()[pri:0, instance:testcases.LoginTF@696da30b]">loginWithPasswordIncorrect</td> 
  <td>main@1397381784</td>   <td></td> </tr>
<tr bgcolor="a38269">  <td>22/01/10 10:08:49</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTF.setUp()[pri:0, instance:testcases.LoginTF@696da30b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="68717f">  <td>22/01/10 10:08:49</td>   <td>6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseSetup.tearDown()[pri:0, instance:testcases.LoginTF@696da30b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
