<h2>Methods that were not run</h2><table>
<tr><td>testcases.LoginTF.loginWithPhoneNumberNotRegisteredAccount</td></tr>
<tr><td>testcases.LoginTF.loginWithFacebookAccount</td></tr>
<tr><td>testcases.LoginTF.loginWithGoogleAccount</td></tr>
<tr><td>testcases.LoginTF.loginWithPasswordLessThan5Characters</td></tr>
<tr><td>testcases.LoginTF.loginWithChototAccount</td></tr>
</table>