<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>testcases.LoginTF</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>loginWithGoogleAccount</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginWithPasswordIncorrect</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginWithFacebookAccount</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginWithPasswordLessThan5Characters</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginWithPhoneNumberNotRegisteredAccount</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginWithChototAccount</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initializeTestBaseSetup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
