<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Page Object test example</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="68717f">  <td>22/01/10 10:07:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTF.setUp()[pri:0, instance:testcases.LoginTF@79da8dc5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/01/10 10:07:56</td>   <td>21450</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseSetup.tearDown()[pri:0, instance:testcases.LoginTF@79da8dc5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="68717f">  <td>22/01/10 10:07:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTF.setUp()[pri:0, instance:testcases.LoginTF@79da8dc5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/01/10 10:07:30</td>   <td>-4247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseSetup.initializeTestBaseSetup(java.lang.String,java.lang.String)[pri:0, instance:testcases.LoginTF@79da8dc5]">&gt;&gt;initializeTestBaseSetup</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/01/10 10:07:30</td>   <td>-4247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseSetup.initializeTestBaseSetup(java.lang.String,java.lang.String)[pri:0, instance:testcases.LoginTF@79da8dc5]">&gt;&gt;initializeTestBaseSetup</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/01/10 10:07:56</td>   <td>21450</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseSetup.tearDown()[pri:0, instance:testcases.LoginTF@79da8dc5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/01/10 10:07:56</td>   <td>21450</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseSetup.tearDown()[pri:0, instance:testcases.LoginTF@79da8dc5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="68717f">  <td>22/01/10 10:07:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTF.loginWithPhoneNumberNotRegisteredAccount()[pri:0, instance:testcases.LoginTF@79da8dc5]">loginWithPhoneNumberNotRegisteredAccount</td> 
  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/01/10 10:07:30</td>   <td>-4247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseSetup.initializeTestBaseSetup(java.lang.String,java.lang.String)[pri:0, instance:testcases.LoginTF@79da8dc5]">&gt;&gt;initializeTestBaseSetup</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/01/10 10:07:56</td>   <td>21450</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseSetup.tearDown()[pri:0, instance:testcases.LoginTF@79da8dc5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="68717f">  <td>22/01/10 10:07:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTF.setUp()[pri:0, instance:testcases.LoginTF@79da8dc5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="68717f">  <td>22/01/10 10:04:35</td>   <td>-179517</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTF.loginWithFacebookAccount()[pri:0, instance:testcases.LoginTF@79da8dc5]">loginWithFacebookAccount</td> 
  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="68717f">  <td>22/01/10 10:07:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTF.setUp()[pri:0, instance:testcases.LoginTF@79da8dc5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="68717f">  <td>22/01/10 10:06:47</td>   <td>-47911</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTF.loginWithPasswordLessThan5Characters()[pri:0, instance:testcases.LoginTF@79da8dc5]">loginWithPasswordLessThan5Characters</td> 
  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="68717f">  <td>22/01/10 10:04:07</td>   <td>-207489</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTF.loginWithChototAccount()[pri:0, instance:testcases.LoginTF@79da8dc5]">loginWithChototAccount</td> 
  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/01/10 10:07:30</td>   <td>-4247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseSetup.initializeTestBaseSetup(java.lang.String,java.lang.String)[pri:0, instance:testcases.LoginTF@79da8dc5]">&gt;&gt;initializeTestBaseSetup</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="68717f">  <td>22/01/10 10:05:11</td>   <td>-143835</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTF.loginWithGoogleAccount()[pri:0, instance:testcases.LoginTF@79da8dc5]">loginWithGoogleAccount</td> 
  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/01/10 10:07:30</td>   <td>-4247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseSetup.initializeTestBaseSetup(java.lang.String,java.lang.String)[pri:0, instance:testcases.LoginTF@79da8dc5]">&gt;&gt;initializeTestBaseSetup</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="68717f">  <td>22/01/10 10:07:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTF.setUp()[pri:0, instance:testcases.LoginTF@79da8dc5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/01/10 10:07:56</td>   <td>21450</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseSetup.tearDown()[pri:0, instance:testcases.LoginTF@79da8dc5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="68717f">  <td>22/01/10 10:05:59</td>   <td>-95790</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTF.loginWithPasswordIncorrect()[pri:0, instance:testcases.LoginTF@79da8dc5]">loginWithPasswordIncorrect</td> 
  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/01/10 10:07:56</td>   <td>21450</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseSetup.tearDown()[pri:0, instance:testcases.LoginTF@79da8dc5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/01/10 10:07:30</td>   <td>-4247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseSetup.initializeTestBaseSetup(java.lang.String,java.lang.String)[pri:0, instance:testcases.LoginTF@79da8dc5]">&gt;&gt;initializeTestBaseSetup</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="68717f">  <td>22/01/10 10:07:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTF.setUp()[pri:0, instance:testcases.LoginTF@79da8dc5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
</table>
