<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Page Object test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="68717f">  <td>22/01/10 10:32:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTF.setUp()[pri:0, instance:testcases.LoginTF@79da8dc5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="68717f">  <td>22/01/10 10:31:28</td>   <td>-55151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTF.loginWithPasswordIncorrect()[pri:0, instance:testcases.LoginTF@79da8dc5]">loginWithPasswordIncorrect</td> 
  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/01/10 10:32:45</td>   <td>21532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseSetup.tearDown()[pri:0, instance:testcases.LoginTF@79da8dc5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="68717f">  <td>22/01/10 10:32:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTF.setUp()[pri:0, instance:testcases.LoginTF@79da8dc5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/01/10 10:32:19</td>   <td>-3996</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseSetup.initializeTestBaseSetup(java.lang.String,java.lang.String)[pri:0, instance:testcases.LoginTF@79da8dc5]">&gt;&gt;initializeTestBaseSetup</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/01/10 10:32:45</td>   <td>21532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseSetup.tearDown()[pri:0, instance:testcases.LoginTF@79da8dc5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/01/10 10:32:19</td>   <td>-3996</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseSetup.initializeTestBaseSetup(java.lang.String,java.lang.String)[pri:0, instance:testcases.LoginTF@79da8dc5]">&gt;&gt;initializeTestBaseSetup</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/01/10 10:32:45</td>   <td>21532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseSetup.tearDown()[pri:0, instance:testcases.LoginTF@79da8dc5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/01/10 10:32:45</td>   <td>21532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseSetup.tearDown()[pri:0, instance:testcases.LoginTF@79da8dc5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="68717f">  <td>22/01/10 10:32:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTF.setUp()[pri:0, instance:testcases.LoginTF@79da8dc5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/01/10 10:32:19</td>   <td>-3996</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseSetup.initializeTestBaseSetup(java.lang.String,java.lang.String)[pri:0, instance:testcases.LoginTF@79da8dc5]">&gt;&gt;initializeTestBaseSetup</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/01/10 10:32:45</td>   <td>21532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseSetup.tearDown()[pri:0, instance:testcases.LoginTF@79da8dc5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="68717f">  <td>22/01/10 10:32:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTF.setUp()[pri:0, instance:testcases.LoginTF@79da8dc5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="68717f">  <td>22/01/10 10:31:57</td>   <td>-26743</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTF.loginWithPasswordLessThan5Characters()[pri:0, instance:testcases.LoginTF@79da8dc5]">loginWithPasswordLessThan5Characters</td> 
  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="68717f">  <td>22/01/10 10:30:06</td>   <td>-137658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTF.loginWithFacebookAccount()[pri:0, instance:testcases.LoginTF@79da8dc5]">loginWithFacebookAccount</td> 
  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="68717f">  <td>22/01/10 10:32:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTF.setUp()[pri:0, instance:testcases.LoginTF@79da8dc5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/01/10 10:32:19</td>   <td>-3996</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseSetup.initializeTestBaseSetup(java.lang.String,java.lang.String)[pri:0, instance:testcases.LoginTF@79da8dc5]">&gt;&gt;initializeTestBaseSetup</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="68717f">  <td>22/01/10 10:29:37</td>   <td>-166714</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTF.loginWithChototAccount()[pri:0, instance:testcases.LoginTF@79da8dc5]">loginWithChototAccount</td> 
  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="68717f">  <td>22/01/10 10:30:40</td>   <td>-103032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTF.loginWithGoogleAccount()[pri:0, instance:testcases.LoginTF@79da8dc5]">loginWithGoogleAccount</td> 
  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/01/10 10:32:19</td>   <td>-3996</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseSetup.initializeTestBaseSetup(java.lang.String,java.lang.String)[pri:0, instance:testcases.LoginTF@79da8dc5]">&gt;&gt;initializeTestBaseSetup</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="68717f">  <td>22/01/10 10:32:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTF.setUp()[pri:0, instance:testcases.LoginTF@79da8dc5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="68717f">  <td>22/01/10 10:32:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTF.loginWithPhoneNumberNotRegisteredAccount()[pri:0, instance:testcases.LoginTF@79da8dc5]">loginWithPhoneNumberNotRegisteredAccount</td> 
  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/01/10 10:32:45</td>   <td>21532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseSetup.tearDown()[pri:0, instance:testcases.LoginTF@79da8dc5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/01/10 10:32:19</td>   <td>-3996</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseSetup.initializeTestBaseSetup(java.lang.String,java.lang.String)[pri:0, instance:testcases.LoginTF@79da8dc5]">&gt;&gt;initializeTestBaseSetup</td> 
<td>&nbsp;</td>  <td>main@1064265473</td>   <td></td> </tr>
</table>
